.BannerImg img {
    opacity: 60%;
    height: 80vh; 
    width: 100%;
    position: absolute; 
    top: 0; 
    z-index: 0; 
  }

  header {
    position: relative; 
    z-index: 10; 
  }

  
  .Card-Branco {
    width: 52%; 
    height: 30vh; 
    background-color: whitesmoke; 
    position: absolute; 
    top: 40vh; 
    left: 0%; 
    transform: skewY(-5deg);
  } 
  
  .Card-Texto {
    margin-left: 4vh; 
    text-align: left;
    transform: skewY(3deg);
    width: 90%; 
  }
  
  .Card-Branco p {
    font-size: 2vh; 
    text-indent: 2vh; 
    margin: 1vh;
  }
  
  .Card-Branco h1 {
    font-size: 4.2vh; 
    margin-top: 4vh; 
    text-indent: 5vh; 
  }
  
  .Card-Texto button {
    padding: 1vh 7vh; 
    margin-left: 5%; 
    margin-top: 1vh; 
    font-size: 2.3vh; 
    background-color: #270db6ce; 
    color: white; 
    border: none; 
    border-radius: 2vh; 
    cursor: pointer; 
  }
  
  .Card-Branco button:hover {
    background-color: #000000; 
  }
  
  @media (max-width: 1500px){
    .Card-Branco h1 {
      font-size: 4vh; 
    }
  
    .Card-Texto {
      width: 95%; 
    }
  
    .Card-Texto button {
      padding: 1vh 4vh; 
      margin-left: 7%; 
      font-size: 2.5vh; 
  
    }
  }
  
  
  @media (max-width: 1340px){
  
    .BannerImg img {
      object-fit: cover; 
    }
    
    
    .Card-Branco p {
      font-size: 1.6vh; 
      text-indent: 1vh; 
      margin: 1.3vh;
    }
  
    .Card-Texto {
      width: 85%; 
    }
  
    .Card-Texto button {
      padding: 1vh 4vh; 
      font-size: 1.8vh; 
  
    }
  }
  
  @media (max-width: 1181px){
  
    .Card-Branco h1 {
      font-size: 3.4vh;
    }
  
  
    .Card-Texto {
      width: 90%; 
    }
  
    .Card-Texto button {
      padding: 1vh 4vh; 
      font-size: 1.8vh; 
      margin-left: 3%;  
  
    }
  }
  
  
  
  @media (max-width: 1000px){
   
    .Card-Branco p {
      font-size: 1.8vh; 
      text-indent: 1vh; 
    }
    .Card-Texto button {
      padding: 1vh 4vh; 
      margin-left: 3%; 
      font-size: 1.7vh; 
  
    }
  }
  
  @media (max-width: 970px){
    
    .Card-Branco h1 {
      font-size: 2.7vh;
    }
  
    .Card-Branco p {
      font-size: 1.5vh; 
      text-indent: 1vh; 
    }
    .Card-Texto button {
      padding: 1vh 4vh; 
      margin-left: 3%; 
      font-size: 1.2vh; 
  
    }
  }
  
  @media (max-width: 830px){
    .BannerImg img {
      object-fit: cover;
      height: 56vh; 
    }
  
    .Card-Branco {
      width: 100%; 
      height: 21vh; 
      background-color: whitesmoke; 
      position: relative; 
      top: 18vh; 
    } 
  
    .Card-Branco h1 {
      margin: 0 auto;
      padding-top: 30px;
    }
    .Card-Branco p {
      font-size: 1.4vh; 
      text-indent: 1vh; 
    }
  
    .Card-Texto button {
      padding: 1vh 4vh; 
      margin-left: 1%; 
      font-size: 1.5vh; 
  
    }
  
    .Card-Texto {
      width: 95%; 
    }
    
  }
  
  @media (max-width: 690px) {
    .Card-Texto button {
      padding: 1vh 2vh; 
      margin-left: 4%; 
      font-size: 1.1vh; 
    }
    .Card-Branco p {
      font-size: 1.2vh; 
      text-indent: 1vh; 
    }
  
    .Card-Branco h1 {
      font-size: 2.3vh; 
      text-indent: 0.5vh; 
    }
  
    .Card-Texto {
      width: 90%; 
    }
  }
  
  
  @media (max-width: 450px) {
  
    .Card-Branco {
      transform: skewY(0deg);
      height: 100%; 
      display: flex;
      justify-content: center;
    }
    .Card-Branco h1 {
      font-size: 1rem;
      font-weight: 500; 
    }
  
    .Card-Branco p {
      font-size: 0.8rem; 
    }
  
    .Card-Texto {
      width: 90%; 
      transform: skewY(0deg);
      margin: 0;
    }
  
    .Card-Texto button {
      padding: 1vh 1vh; 
      margin-left: 2%; 
    
  
    }
  
  
  }