/* Footer.css */
.footer {
    margin-top: 100px;
    background-color: #140a4e;
    color: white; 
    padding: 20px; 
    text-align: center; 
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content P{
    justify-content: end;
}

.footer-links {
    display: flex; 
    justify-content: center;
    gap: 20px; 
}

.footer-links a {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #007BFF; 
}

.footer-bottom {
    font-size: 14px; 
}
