.imagem{
    height: 150px;
    border-radius: 5px;
    box-sizing: border-box;
}

.imagem:hover{
    border: 3px solid white;
    box-sizing: border-box;
    
    transform: scale(1.0);

}

.nome{
    font-weight: 200;
    color:  rgba(255, 255, 255, 0.568);
}
